#retrieve-password-from {
    .retrieve_password_from {
        height: 437px;
        margin: 33px 30px 0 30px;
        -webkit-user-drag: none;

        .title {
            display: flex;
            justify-content: space-between;
            width: 300px;
            height: 28px;
            margin-bottom: 30px;
            align-items: baseline;

            .left {
                width: 80px;

                span {
                    font-size: 20px;
                    font-family: PingFang SC-Medium, PingFang SC;
                    font-weight: 500;
                    color: #333333;
                    line-height: 23px;
                }
            }

            .right {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                width: 74px;
                height: 20px;

                span {
                    font-size: 14px;
                    font-family: PingFang HK-Regular, PingFang HK;
                    font-weight: 400;
                    color: #666666;
                    line-height: 16px;
                }

                img {
                    margin-left: 6px;
                    width: 12px;
                    height: 12px;
                }
            }
        }

        .retrieve_trip {
            width: 270px;
            height: 41px;
            margin-top: 14px;
            padding: 0 16px 0 14px;

            text {
                font-size: 12px;
                font-weight: 400;
                color: #666666;
                line-height: 14px;
            }
        }
    }

    .el-button {
        height: 48px;
        width: 100%;
        border-radius: 8px;
        margin-top: 50px;
        --el-button-bg-color: rgba(21, 96, 250, 0.6);
    }

    .code_button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 76px;
        height: 26px;
        border-radius: 4px 4px 4px 4px;
        opacity: 1;
        border: 1px solid #66A3FF;

        button {
            border: none;
            font-size: 12px;
            font-weight: 400;
            color: #1560FA;
            background: rgba(0, 0, 0, 0);
        }
    }

    .code_get_success {
        width: 97px !important;
        border-radius: 8px 8px 8px 8px !important;
        border: 1px solid #EAEAEA;

        button {
            border: none;
            font-family: PingFang HK-Regular, PingFang HK;
            font-weight: 400;
            color: #999999 !important;
            background: rgba(0, 0, 0, 0);
        }
    }
}